:root {
 --black: #000000;
 --slightly-transparent-black: rgba(0, 0, 0, 0.3);
 --contactform-black: rgba(0, 0, 0, 0.4);
 --transparent-black: rgba(0, 0, 0, 0.6);
 --toggle-shadow-black: rgba(0, 0, 0, 0.15);
 --focus-black: rgba(0, 0, 0, 0.0001);
 --liter-black: #283136;
 --sorting-arrow-black: #231f20;
 --white: #ffffff;

 --basic-red: #fb565a;
 --hover-red: #e74246;
 --action-red: #d7373b;

 --basic-green: #00ca74;
 --hover-green: #00bc6c;
 --action-green: #00aa62;
 --range-green: #00CA74;

 --basic-yellow: #efc849;
 --hover-yellow: #eab534;
 --action-yellow: #e5a722;

 --dark-grey: #444444;
 --lighter-grey: #eeeeee;
 --contact-form-grey: #666666;
 --reference-grey: #a7a7a7;
 --sorting-arrow-grey: #a6a6a6;
 --filter-grey: #4d4d4d;
 --pagination-grey: #dfdfdf;
 --padding-liter-grey: #d5d5d5;
 --pagination-grey: #dbdbdb;
 --socials-grye: #e1e1e1;
 --slider-button-grey: #c1c1c1;
 --range-grey: #D7DCDF;
 --button-shadow: rgba(0, 1, 1, 0.1);
 --toggle-grey: #ababab;
 --popup-grey: #B4B9BB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--liter-black, #283136);
  text-transform: uppercase;
  background-color: var(--white, #ffffff);
  min-width: 1157px;

}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  align-content: start;
  grid-template-rows: min-content 1fr min-content;
}

.main-header {
  background-color: var(--lighter-grey, #eeeeee);
}

.container {
  max-width: 1157px;
  margin: 0 auto;
}

.main-header-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 800px;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  background-color: transparent;
}

.main-header-logo-pic{
  width: 160px;
  height: 65px;
}

.main-site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 437px;
  padding: 0px;
  margin: 0px;

}
.main-navigation a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-site-navigation a,
.cart-icon {
  color: var(--black, #000000);
}

.main-navigation a:hover {
  color: var(--basic-red, #fb565a);
}

.main-navigation a:active {
  color: var(--reference-grey, #a7a7a7);
}

.cart-refference {
  position: relative;
  padding-left: 30px;
}

.cart-icon {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-icon::before {
 content: "";
 width: 15px;
 height: 15px;
 position: absolute;
 left: 0px;
 top: 26px;
 background-image: url("../img/cart-icon.svg");
}

.cart-icon:hover {
  color: var(--basic-red, #fb565a);
}

.cart-icon:active {
  color: var(--reference-grey, #a7a7a7);
}

.chosen-navigation-item {
  border-bottom: 2px solid var(--basic-red, #fb565a);
}

.slider {
  position: relative;
}

.slider-list {
  grid-column: 1/-1;
  justify-self: center;
  list-style: none;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  width: 100%;
}

.slider-item {
  width: 100%;
  display: none;
}

.slider-info {
  width: 538px;
  padding-top: 78px;
}

.slider-item-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}

.slider-item-text {
  padding-top: 20px;
  padding-bottom: 39px;
}

.slider-image-one {
  background-image: url(../img/index/slider-slide1.png);
  background-repeat: no-repeat;
  background-position: 395px 50%;
  width: 1157px;
  height: 431px;
}

.slider-image-two {
  background-image: url(../img/index/slider-slide2.png);
  background-repeat: no-repeat;
  background-position: 395px 50%;
  width: 1157px;
  height: 431px;
}

.slider-image-three {
  background-image: url(../img/index/slider-slide3.png);
  background-repeat: no-repeat;
  background-position: 395px 50%;
  width: 1157px;
  height: 431px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 88px;
  height: 18px;
  background-color: transparent;
}

.slider-controls button {
  position: relative;
  padding: 0px;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--white, #ffffff);
  outline: none;
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--slider-button-grey, #c1c1c1);
  border-radius: 50%;
  background-color: var(--white, #ffffff);

}

.slide-current {
  display: block;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*услуги */

.services {
  margin-top: 80px;
  padding-bottom: 95px;
  border-bottom: 2px solid var(--lighter-grey, #eeeeee);
}

.services-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}
.services-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-info {
  text-transform: none;
  padding-right: 60px;
  margin-bottom: 49px;
}

.aboutus {
  text-transform: none;
  padding-top: 39px;

}

.aboutus-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}

.aboutus-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.aboutus-subheader {
  font-weight: bold;
  text-transform: uppercase;
}

.aboutus-list {
  list-style: none;
}

.aboutus-list-item {
  position: relative;
}

.aboutus-list-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: var( --basic-red, #fb565a);
}

.aboutus-table-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-us {
  width: 360px;
  height: 206px;
  background-image: url(../img/index/nerds-selebration.png);
  margin-bottom: 37px;
}

.figure {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: 15px;
}

.table-text {
  font-size: 16px;
  line-height: 18px;
}

.partners {
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  border-top: 2px solid var(--lighter-grey, #eeeeee);
  border-bottom: 2px solid var(--lighter-grey, #eeeeee);
  padding-top: 46px;
  padding-bottom: 44px;
}

.partners-item {
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.partners-item:not(:nth-of-type(4n))::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  height: 52px;
  width: 2px;
  background-color: var(--lighter-grey, #eeeeee);
}

.partners-item:hover {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}





/*Стили для внутренней страницы*/

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content 1fr;
  grid-gap: 40px;
  margin-bottom: 60px;
}

.catalog-page-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.filter {
  grid-column: 1/2;
  grid-row: 2/-1;
  margin-right: auto;
}

.fiter-form-range-control {
  height: 41px;
  margin-top: 30px;
  margin-bottom: 14px;
  background-color: var( --lighter-grey, #eeeeee);
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 33px;
  padding-right: 22px;
}

.range {
  margin: 0px;
  width: 205px;
  height: 2px;
  background-color: var(--range-grey, #D7DCDF);
}

.bar {
  width: 50%;
  height: 2px;
  background-color: var(--range-green, #00CA74);
  position: relative;
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--white, #ffffff);
  border-radius: 50%;
  background-color: var(--toggle-grey, #ababab);
  box-shadow: 0px 2px 1px var(--toggle-shadow-black, rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

.toggle-min{
  left:0px;
}

.toggle-max {
  left: 100px;
}

.filter-form-price-controls {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.filter-form-price-controls input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  border: 2px solid var(--range-grey, #D7DCDF);
  border-radius: 3px;
  background-color: var(--lighter-grey, #eeeeee);
  color: var(--liter-black, #283136);
  padding: 8px 0px;
  width: 80px;
  margin-left: 11px;
}

.filter-form-price-controls input:hover {
  border-color: var(--popup-grey, #B4B9BB);
}

.filter-form-price-controls input:focus {
  border-color: var(--black, #000000);
  color: var(--black, #000000);
}

.filter-form-price-controls input:invalid {
  border-color: var(--hover-red, #e74246);
}

/*не понимаю как поменять цвет текста для inputa для невалидных значений и при фокусировке.*/

.filter-form-group {
  border: none;
  padding: 0px;
  margin: 0px;
}

.filter-form-group:nth-of-type(2) {
  margin-top: 36px;
}

.filter-form-group:nth-of-type(3) {
  margin-top: 25px;
  margin-bottom: 48px;
}

.filter-form-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black, #000000);
  margin: 18px 0;
}

.filter-form-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.filter-form-list-item {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 45px;
  margin-bottom: 20px;
}

.filter-form-list-item label {
  display: block;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.form-input-radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0px;
  width: 25px;
  height: 25px;
  border: 3px solid var( --filter-grey, #4d4d4d);
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--white, #ffffff);
  opacity: 0.4;
}

.form-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 8px;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--filter-grey, #4d4d4d);
  opacity: 0.4;
}

.form-input-checkbox + label::before {
  content: "";
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 0px;
  width: 25px;
  height: 23px;
  opacity: 0.4;
}

.form-input-checkbox:checked + label::before {
  content: "";
  background-image: url(../img/catalog/checkbox-on.svg);
  position: absolute;
  left: -40px;
  top: 0px;
  width: 25px;
  height: 23px;
  opacity: 0.4;
}

.form-input-checkbox:hover + label::before,
.form-input-radio:hover + label::before,
.form-input-radio:hover + label::after {
  opacity: 1;
}

.disabled {
  color: var(--liter-black, #283136);
  opacity: 0.3;
}

.disabled:hover label::before,
.disabled:hover label::after {
  opacity: 0.1;
}

.catalog-sorting {
  grid-column: 2/-1;
  grid-row: 2/3;
}

.catalog-sorting-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-sorting-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black, #000000);
}

.catalog-sorting-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 360px;
}

.catalog-sorting-navigation a {
  color: var(--slightly-transparent-black, rgba(0, 0, 0, 0.3));
}

.catalog-sorting-navigation a:hover {
  color: var(--transparent-black, rgba(0, 0, 0, 0.6));
}

.catalog-sorting-navigation a:active {
  color: var(--black, #000000);
}
.sorting-arrow-up,.sorting-arrow-down {
  fill: var(--sorting-arrow-grey, #a6a6a6);
  fill-opacity: 0.2;
}
.sorting-arrow-up:hover {
  fill-opacity: 1;
}
.sorting-arrow-down:hover {
  fill-opacity: 1;
}
.sorting-arrow-up:active {
  fill: var(--sorting-arrow-black, #231f20);
}
.sorting-arrow-down:active {
  fill: var(--sorting-arrow-black, #231f20);
}

.catalog-products {
  grid-column: 2/-1;
}

.catalog-products-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.catalog-products-frame {
  border-radius: 5px;
  text-align: center;
  position: relative;
  width: 360px;
  height: 608px;
}

.catalog-products-cap {
  opacity: 0
  ;
}
.catalog-products-frame:hover .catalog-products-popup {
 opacity: 1;
}

.catalog-products-frame:hover .catalog-products-cap {
 opacity: 1;
}

.catalog-products-pic {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 1px;
}

.catalog-products-popup {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 45px;
  background-color: var(--white, #ffffff);
}

.catalog-products-header a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black, #000000);
}
.catalog-products-header a:hover {
  color: var(--basic-red, #fb565a);
}
.catalog-products-header a:active {
  color: var(--transparent-black, rgba(0, 0, 0, 0.6));
}

.catalog-products-info {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--contact-form-grey, #666666);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 342px;
  margin-top: 55px;
}

.pagination-item {
  padding: 17px 20px 15px 20px;
  color: var(--black, #000000);
  background-color: var( --lighter-grey, #eeeeee);
  border: none;
  border-radius: 3px;
}

.pagination-item-disabled {
  padding: 14px 17px 12px 17px;
  /*box-sizing: border-box;*/
  background-color: var(--white, #ffffff);
  border: 3px solid var(--pagination-grey, #dbdbdb);
  border-radius: 3px;
}

.pagination-list a {
  color: inherit;
}

.pagination-item:hover {
  background-color: var(--pagination-grey, #dfdfdf);
}

.pagination-item:active {
  color: var(--slightly-transparent-black, rgba(0, 0, 0, 0.3));
  background-color: var(--padding-liter-grey, #d5d5d5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item:focus {
  background: var(--focus-black, rgba(0, 0, 0, 0.0001));
  border: 3px solid var(--pagination-grey, #dbdbdb);
}

/*Тут будут контакты в футере*/
.map-pic-container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.map-pic {
  position: relative;
}

.contacts-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--contact-form-grey, #666666);
  background-color: var(--white, #ffffff);
  position: absolute;
  padding: 49px 50px 47px 50px;
  top: 0px;
}

.map-marker {
  position: absolute;
  top: 0px;
  right: 0px;
}

.contacts-info {
  text-transform: none;
}

.contacts-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

.socialnetworks-wrapper {
  padding-top: 75px;
  padding-bottom: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socialnetworks-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 319px;
}

.vk {
  background-image: url(../img/index/icons/VK.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 22px;
  display: table-cell;
  vertical-align: middle;
}

.fb {
  background-image: url(../img/index/icons/Facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 22px;
  display: table-cell;
  vertical-align: middle;
}

.instagram {
  background-image: url(../img/index/icons/Instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 22px;
  display: table-cell;
  vertical-align: middle;
}

.socialnetworks-shape {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--socials-grye, #e1e1e1);
  display: table;
}

.socialnetworks-shape:hover {
  background-color: var(--hover-red, #e74246);
}

.socialnetworks-shape:active {
  background-color: var(--action-red, #d7373b);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.socialnetworks-shape:active .fb{
  opacity: 0.3;
}

.friendship-header {
  text-transform: none;
  margin-top: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.discount {
  text-transform: none;
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  columns: var(--dark-grey, #444444);
}


/*контактная форма*/
.contactform {
  box-sizing: border-box;
  position: relative;
  padding-top: 85px;
  padding-right: 99px;
  padding-bottom: 84px;
  padding-left: 100px;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--black, #000000);
  width: 960px;
  margin: 0 auto;
  background-color: var(--white, #ffffff);
  box-shadow: 0px 20px 40px var(--contactform-black, rgba(0, 0, 0, 0.4));
}

.contactform-header {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--black, #000000);
}

.contactform-grid {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.contactform-header {
  grid-column: 1/-1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactform-col-one {
  grid-column: 1/2;
}

.contactform-col-two {
  grid-column: 2/3;
}

.contactform-max-width {
  grid-column: 1/-1;
}

.contactform input:not([type=submit]) {
  width: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  border: 2px solid var(--range-grey, #D7DCDF);
  border-radius: 3px;
}

.contactform textarea {
  width: 100%;
  height: 119px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 47px;
  border: 2px solid var(--range-grey, #D7DCDF);
  border-radius: 3px;
}

.contactform input:not([type=submit]):hover,
.contactform textarea:hover {
  border: 2px solid var(--popup-grey, #B4B9BB);
}

.contactform input:not([type=submit]):focus,
.contactform textarea:focus {
  border: 2px solid var(--black, #000000);
  color: red;
}

.contactform input:invalid {
  border: 2px solid var(--hover-red, #e74246);
  color: var(--hover-red, #e74246);
}

.button-close {
  position: absolute;
  top: 63px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
}

/*Тут будут кнопки*/
.button {
  color: var(--white, #ffffff);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 15px 40px;
}

.button-red {
  background-color: var(--basic-red, #fb565a);
}

.button-green {
  background-color: var(--basic-green, #00ca74);
}

.button-yellow {
  background-color: var(--basic-yellow, #efc849);
}

.catalog-products-button {
  padding: 17px 72px 15px 72px;
}

.slider-button {
  padding: 17px 54px;
}

.services-button {
  padding: 17px 40px 15px 39px;
}

.contacts-button {
  padding: 17px 44px 15px 44px;
}

.contactform-button {
  padding: 17px 83px 15px 83px;
}

.filter-button {
  padding: 17px 89px 15px 88px;
  color: var(--black, #000000);
  background-color: var(--lighter-grey, #eeeeee);
}

.filter-button:hover {
  background-color: var(--pagination-grey, #dfdfdf);
}

.filter-button:active {
  background-color: var(--padding-liter-grey, #d5d5d5);
  box-shadow: inset 0px 3px 0px var(--button-shadow, rgba(0, 1, 1, 0.1));
}

.red-button-action:hover {
  background-color: var(--hover-red, #E74246);
}

.red-button-action:active {
  background-color: var(--action-red, #D7373B);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px var(--button-shadow, rgba(0, 1, 1, 0.1));
}

.service-green-button-action:hover {
  background-color: var(--hover-green, #00bc6c);
}
.service-green-button-action:active {
  background-color: var(--action-green, #00aa62);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px var(--button-shadow, rgba(0, 1, 1, 0.1));
}

.service-yellow-button-action:hover {
  background-color: var(--hover-yellow, #eab534);
}
.service-yellow-button-action:active {
  background-color: var(--action-yellow, #e5a722);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px var(--button-shadow, rgba(0, 1, 1, 0.1));
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}
